.contenedorPrincipal { 
    width: auto;
    padding: 80px;
}

.primeraSeccion {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
}

h2 {
    width: fit-content;
    max-width: fit-content;
    margin: 0 !important;
}

.segundaSeccion {
    margin-top: 50px;
}

.ciculo {
    width: 44px;
    height: 44px;
    background-color: rgb(23, 95, 159);
    border-radius: 100px;
    margin-right: 20px;
}

.infoEmpresa {
    max-width: 250px;
    box-shadow: 0 0 8px 0 #aaaaae54;
    border-radius: 15px;
    padding: 20px;
}

.contenedorInfoFoto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parteInfo { 
    width: fit-content;
    margin: 15px 20px;
}

.contenidoInfo { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundaSeccion {
    display: flex;
    align-items: flex-start;
}

.infoDetallada {
    width: auto;
    box-shadow: 0 0 8px 0 #aaaaae54;
    border-radius: 15px;
    padding: 20px;
    margin: 0 30px;
}

.terceraSeccion {
    box-shadow: 0 0 8px 0 #aaaaae54;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}